<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      {% block css_views %}{% endblock %}
  </head>
  
  <body>
      <div class="container">
        <div class="header clearfix">
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/">Home</a></li>
              <li role="presentation"><a href="/canadian-products">Canadian Products</a></li>
              <li role="presentation"><a href="/montreal-weather/7">Montreal Weather</a></li>
            </ul>
          </nav>
          <h3 class="text-muted">SSENSE - IT</h3>
        </div>
  
        {% block content %} {% endblock %}
  
        <footer class="footer">
          <p>&copy; 2016 SSENSE</p>
        </footer>
      </div>
      {% block javascript_views %}{% endblock %}
  </body>
</html>