{% extends "common/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h2>SSENSE Test</h2>
    <p class="lead">Welcome to the SSENSE Test! Please complete the tasks enumerated below</p>
    <h3>Project context:</h3>
    <ul>
        <li>PHP</li>
        <li>Framework: Silex</li>
        <li>CSS Framework: Bootstrap</li>
        <li>MVC archtecture</li>
        <li>Using composer for dependencies</li>
        <li>PSR-2 Coding Style guide</li>
        <li>You have access to the command line</li>
        <li>Using the command line, you can access MySQL.</li>
        <li>The project is setup using GIT</li>
        <li>You must create a new branch from master for each tasks.</li>
    </ul>
    
    <p>You’re free to use any method.</p>

    <h3>Command line</h3>
    <ul>
        <li>
            The root on of the project is in: /home/ubuntu/workspace/Hiring-Test
        </li>
        <li>
            MySQL has no specific user. Use "mysql -u root" and use database "hiring-test"
        </li>
        <li>
            *composer autoloading needs to be refreshed after the creation of any new class
        </li>
    </ul>

    <h5>Forecats API Key: e60efe99b1bf9036ce9a154a5c1c10ee</h5>
    
    <h2>Task #1</h2>
    <h4>As a Developer, I must create a new page to display the available countries</h4>
    <h5>Details:</h5>
    <p>
        You must create a new page to display all the countries available in the database. You must link that page in the menu, using the
        "Countries" link located on the top-right corner of this page.
    </p>
    
    <h2>Task #2</h2>
    <h4>As a Developer, I must integrate some weather information for Montreal on the website.</h4>
    <h5>Details:</h5>
    <p>
        The team have subscribe to <a href="https://developer.forecast.io/">https://developer.forecast.io/</a> API for the weather information.
        You have to display the Current and the Apparent Temperature of Montreal, in Celsius, in the box below.
    </p>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Current weather in Montreal</h3>
        </div>
        <div class="panel-body">
            <br />
            Temperature: ??? &#8451;
            <br />
            Feels like: ??? &#8451;
        </div>
    </div>
</div>        
{% endblock %}